<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="signin" style="background-image:url('assets/images/background/mesh.png')">
  <div class="row" id="forgot_password_card">
    <div class="col-10 col-md-6 col-sm-8 col-lg-4 offset-1 offset-sm-1 offset-md-3 offset-lg-4">
        <div style="background-color: #F6F6F6"><br>
          <div class="card-body">
            <div class="alert alert-success" role="alert" *ngIf="emailSent">
              {{message}}
            </div>
            <h3 class="card-title text-center"> Forgot Password  </h3>
            <p> Please Enter your Email address to reset your password </p>
            <form [formGroup]="forgotPasswordForm" (ngSubmit) = "onSubmit()">
              <div class="row">
                <div class="form-group col-12">
                  <input class="form-control form-control-lg" type="text" placeholder="Enter Your Email" formControlName="email">
                </div>
              </div>
              <div class="row">
                <button type="submit" class="btn col-12 text-white shadow" style="background-color: #9B2AB6" [disabled]="!forgotPasswordForm.valid"> Reset Password </button>
              </div>
            </form>
            <br>
            <div class="row">
              <a routerLink="/signin" class="text-center col-12"> Back to sign in </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '90px', minWidth: '90px', height: '70px', textAlign: 'center'}"
          [baseZIndex]="10000" [closable]="false" [showHeader]="false">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
</p-dialog>
