<div class="signup" style="background-image:url('assets/images/background/mesh.png')">
  <div class="row" id="notfound">
    <div class="col-10 col-sm-6 purple col-lg-6 offset-1 offset-sm-3 offset-md-4 offset-lg-3">

        <div class="card text-white shadow" style="background-color: #9B2AB6">
          <div class="card-body text-center">
            <div class="text-center">
              <img src="assets/images/logos/dlc_logo.jpeg" height="150" width="120" class="img-fluid" alt="Diamond Link Venture" style="border-radius: 50%">
            </div>
            <div class="card-title text-white"><h1> 404 Page Not Found </h1></div>
            <p class="card-text">
              OMG ! looks like something went wrong
            </p>
            <a routerLink="/"> back to Home </a>
          </div>
        </div>

    </div>
  </div>
</div>
