<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-body">
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="loading"></p-progressBar>
        <form class="forms-sample" [formGroup] = "changePasswordForm" (submit)="onSubmit()">
          <div class="form-group">
            <label>Old password</label>
              <input type="password" class="form-control" placeholder="Enter old password" formControlName="oldPassword">
          </div>
          <div class="form-group">
            <label> New password </label>
              <input type="password" class="form-control" placeholder="Enter new password" formControlName="newPassword">
          </div>
          <div class="form-group">
            <label> Confirm new password </label>
              <input type="password" class="form-control" placeholder="Enter new password again" formControlName="newPasswordConfirm">
          </div>
          <div class="text-center">
            <button type="submit" [disabled]="loading || !changePasswordForm.valid" class="btn btn-success" style="background-color: #9B2AB6"> Save Change </button>
            <button type="reset" class="btn btn-danger mr-2"> Cancel </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
