<div class="container-fluid">
  <div class="row">
    <div class="card col-12">
      <div class="card-body">
        <h4 class="card-title">Transaction History </h4>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th> Order </th>
                <th> Description </th>
                <th> Price </th>
                <th> Benefits </th>
                <th> Sales </th>
                <th> Company </th>
                <th> Address </th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let history of historys">
                <td> {{ history.order }} </td>
                <td> {{ history.description }} </td>
                <td> {{ history.price }} </td>
                <td> {{ history.benefits }} </td>
                <td> {{ history.sales }} </td>
                <td> {{ history.company }} </td>
                <td> {{ history.address }} </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>