<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="row">
  <div class="card col-md-12 align-content-center">
    <div class="alert alert-success" *ngIf="paymentSuccess">
      {{successMessage}}
    </div>
    <div class="card-title text-center" style="margin: 2px;">
      <h3>Orders</h3>
      <div class="text-center">
        <button class="btn btn-sm btn-primary" type="button" (click)="showCurrencyDialog()">See Exchange Rates
        </button>
      </div>
    </div>
    <div class="card-body">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="loading"></p-progressBar>
      <p-scrollPanel [style]="{width: '100%', height: '100%'}">
        <table app-payment-order class="table table-hover" style="font-size: 5px;">
          <tr app-payment-order-row *ngFor="let orderItem of getOrders()" [orderItem]="orderItem"
              [orderDate]="getOderDate(orderItem.transactionBean.createdAt)" [exCurrency]="exCurrency"></tr>
        </table>
      </p-scrollPanel>
    </div>
    <div class="card-footer">
      <div class="text-center">
        Order Total: {{getOrdersTotal() | number: '3.1-3'}} {{exCurrency.symbol}}
      </div>
    </div>
  </div>
</div>
<app-payment-dashboard [exCurrency]="exCurrency"
  [orderToPay]="getOrderToPay()" *ngIf="getOrderToPay() !== null" (onPaymentSuccess)="onPaymentSuccess(true)"></app-payment-dashboard>
<p-dialog [(visible)]="cdialog" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [baseZIndex]="10000" [closable]="true">
  <p-header>
    See Other currencies and Rates
  </p-header>
  <div class="row" *ngIf="!loading">
    <div class="col-6 card">
      <div class="card-body">
        <label>Base:<br> <b> {{getCurrencyObj().base.symbol}} ({{getCurrencyObj().base.name}})</b></label>
      </div>
    </div>
    <div class="col-6 card">
      <div class="card-body">
        <label>Rated:<br> <b> {{exCurrency.symbol}} ({{exCurrency.name}})</b></label>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-12 card">
      <div class="card-body">
        <label for="select-currency">Select currency</label>
        <select class="form-control" id="select-currency" name="select-currency" [(ngModel)]="exchangeCurrency" (change)="getExchangeCurrency()">
          <option value='"name":"{{getCurrencyObj().base.name}}", "symbol":"{{getCurrencyObj().base.symbol}}", "rate": {{getCurrencyObj().base.rate}}'
                  selected>{{ getCurrencyObj().base.symbol }} ({{getCurrencyObj().base.name}}) Rate: {{getCurrencyObj().base.rate | number: '3.1-3'}}</option>
          <option *ngFor="let currency of getCurrencyObj().currencies"
                  value='"name":"{{currency.name}}","symbol":"{{currency.symbol}}", "rate": {{currency.rate}}'>
            {{ currency.symbol }} ({{currency.name}}) Rate: {{currency.rate | number: '3.1-3'}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <p-footer>
    <button class="btn btn-sm"  (click)="hideCurrencyDialog()">Ok</button>
  </p-footer>
</p-dialog>
